<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
        <ion-row>
          <ion-col size=10><h2>Grupos del usuario</h2></ion-col>
          <ion-col size=1><app-chat-head></app-chat-head></ion-col>
          <ion-col size=1><app-notifications-head></app-notifications-head></ion-col>
        </ion-row>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="reload($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-card *ngFor="let group of groups">
        <ion-card-header (click)="goGroup(group)">
            <ion-card-title class="ion-text-center">
              {{group}} <app-icon [Icon]="icon_ball"></app-icon>
            </ion-card-title>
        </ion-card-header>
    </ion-card>
    
    <ion-text class="ion-text-center" *ngIf="groups.length==0">
      <h1>Aun no estás en ningún grupo.</h1>
      <h3>Crea uno por ti mismo o unete a uno ya hecho!</h3>
      <ion-icon name="sad" style="font-size:1500%; width:100%"></ion-icon>
    </ion-text>
</ion-content>
        