<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="options">
      <ion-icon name="information-circle-outline"></ion-icon>
      <ion-label>Opciones</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="info">
      <ion-icon name="contact"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="groups">
      <ion-icon name="people"></ion-icon>
      <ion-label>Grupos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<!-- <ion-tabs>
  <ion-tab [root]="userOptionsTab" tabTitle="Opciones" tabIcon="information-circle-outline"></ion-tab>
  <ion-tab [root]="userInfoTab" tabTitle="About" tabIcon="contact"></ion-tab>
  <ion-tab [root]="userGroupsTab" tabTitle="Grupos" tabIcon="people"></ion-tab>
</ion-tabs> -->