<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
        <ion-row>
          <ion-col size=10><h2>Notificaciones</h2></ion-col>
          <ion-col size=1></ion-col>
          <ion-col size=1><app-notifications-head></app-notifications-head></ion-col>
        </ion-row>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
      <ion-item *ngIf="notifications.length>1">
        <ion-label (click)="readThemAll()">
            <ion-button color="dark" expand="block" fill="outline">Leer todo</ion-button>
        </ion-label>
      </ion-item>
      <ion-item *ngFor="let not of notifications">
        <ion-label (click)="watchNotification(not)">{{not.message}}</ion-label>
      </ion-item>
      <ion-item *ngIf="notifications.length == 0">
        <ion-label>Sin notificaciones</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
