

<ion-card>
    <ion-card-header>
        <ion-card-title>
            <ion-row>
                <ion-col size=10><h4>{{title}}</h4></ion-col>
                <ion-col size=2 class="ion-text-right" (click)="hide()"> 
                    <app-icon [Icon]="icon_cross" style="font-size:210%" ></app-icon>
                </ion-col>
            </ion-row>
        </ion-card-title>
    </ion-card-header>
    
    <ion-card-content>

            <app-create-group-alert *ngIf="mode == 'CREATEGROUP'"></app-create-group-alert>
            <app-delete-account-alert *ngIf="mode == 'DELETEACCOUNT'" [email]="target"></app-delete-account-alert>
            <app-join-password-group *ngIf="mode == 'JOINGROUP'" [groupName]="target" [hasPassword]="needPassword"></app-join-password-group>
            <app-delete-group-alert *ngIf="mode == 'DELETEGROUP'" [name]="target"></app-delete-group-alert>
            <app-do-football-bet *ngIf="mode == 'FOOTBALLBET'" [info]="object"></app-do-football-bet >
            <app-cancel-user-football-bet *ngIf="mode == 'CANCELUSERFOOTBALLBET'" [userFootballBetId]="target" [info]="object"></app-cancel-user-football-bet>
            <app-cancel-football-bet *ngIf="mode == 'CANCELFOOTBALLBET'" [betId]="target"></app-cancel-football-bet>
            <app-see-user-groups-admin *ngIf="mode == 'SEEUSERGROUPS_ADMIN'" [groups]="object"></app-see-user-groups-admin>
            <app-see-group-members-admin *ngIf="mode == 'SEEGROUPMEMBERS_ADMIN'" [members]="object"></app-see-group-members-admin>
            <app-group-member-options *ngIf="mode == 'GROUPMEMBEROPTIONS'" [memberInfo]="object" [user_role]="target"></app-group-member-options>
            <app-group-member-info *ngIf="mode == 'GROUPMEMBERINFO'" [user]="object"></app-group-member-info>

            <app-football-bet-info *ngIf="mode == 'FOOTBALLBETINFO'" [bet]="object" [betId]="target" [ended]="needPassword" [canBeCancelled]="extraBool"></app-football-bet-info>
            <app-user-football-bet-info *ngIf="mode == 'USERFOOTBALLBETINFO'"  [info]="object"></app-user-football-bet-info>
            <app-create-football-bet *ngIf="mode == 'CREATEFOOTBALLBET'"></app-create-football-bet>

    </ion-card-content>
</ion-card>