

<ion-card>
    <ion-card-header>
        <ion-card-title><h4>{{title}}</h4></ion-card-title>
    </ion-card-header>
    
    <ion-card-content>

            <app-create-group-alert *ngIf="mode == 'CREATEGROUP'"></app-create-group-alert>
            <app-delete-account-alert *ngIf="mode == 'DELETEACCOUNT'" [email]="target"></app-delete-account-alert>
            <app-join-password-group *ngIf="mode == 'JOINGROUP'" [groupName]="target" [hasPassword]="needPassword"></app-join-password-group>
            <app-delete-group-alert *ngIf="mode == 'DELETEGROUP'" [name]="target"></app-delete-group-alert>
            <app-social-sign-password *ngIf="mode == 'SOCIALPASSWORD'" [providerId]="target"></app-social-sign-password>
            <!-- <app-do-football-bet *ngIf="mode == 'FOOTBALLBET'"></app-do-football-bet > -->
            <!-- <app-cancell-user-football-bet *ngIf="mode == 'CANCELUSERFOOTBALLBET'"></app-cancell-user-football-bet> -->
            <!-- <app-cancel-football-bet *ngIf="mode == 'CANCELFOOTBALLBET'"></app-cancel-football-bet> -->
            <!-- <app-see-user-groups-admin *ngIf="mode == 'SEEUSERGROUPS_ADMIN'"></app-see-user-groups-admin> -->
            <!-- <app-see-group-members-admin *ngIf="mode == 'SEEGROUPMEMBERS_ADMIN'"></app-see-group-members-admin> -->

    </ion-card-content>
</ion-card>