<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
        <ion-row>
          <ion-col size=10><h2>{{groupName}}</h2></ion-col>
          <ion-col size=1><app-chat-head></app-chat-head></ion-col>
          <ion-col size=1><app-notifications-head></app-notifications-head></ion-col>
        </ion-row>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-row>
  <ion-col size=8>
      <ion-button color="primary" (click)="popOver()" expand="block" fill="outline">{{boton_name}}</ion-button>
  </ion-col>
  <ion-col size=4>
    <ion-text class="ion-text-right" color=danger *ngIf="coins<=0">
      <h5 class="ion-padding-end">{{coins}} <app-icon [Icon]="icon_coin"></app-icon></h5>
    </ion-text>
    <ion-text class="ion-text-right" *ngIf="coins>0">
      <h5 class="ion-padding-end">{{coins}} <app-icon [Icon]="icon_coin"></app-icon></h5>
    </ion-text>
  </ion-col>
</ion-row>
