<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><h2>{{groupName}}</h2></ion-title>
  </ion-toolbar>
</ion-header>
<!-- <ion-menu side="start" >
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Start Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu> -->
<ion-text class="ion-text-right">
    <h5 class="ion-padding-end">{{coins}} <app-icon [Icon]="icon_coin"></app-icon></h5>
</ion-text>