<ion-row>
  <ion-col size-sm="6" size="12">
    <div id="googleButton" class="customGPlusSignIn" (click)="socialSignIn('GOOGLE')">
      <span class="googleIcon"></span>
      <span class="googleText">Log in with Google</span>
    </div>
  </ion-col>
  <ion-col size-sm="6" size="12">
    <div id="facebookButton" class="customGPlusSignIn" (click)="socialSignIn('FACEBOOK')" >
      <span class="facebookIcon"></span>
      <span class="facebookText">Log in with Facebook</span>
    </div>
  </ion-col>
</ion-row>