<form [formGroup]="joinGroupForm" (ngSubmit)="joinGroup()" *ngIf="hasPassword">
  <ion-item>
    <ion-label position="floating">Contraseña de acceso al grupo</ion-label>
    <ion-input type="password" formControlName="password"></ion-input>
  </ion-item>
  <ion-button type="submit" style="margin-top:30px" color="dark" expand="block" fill="outline" [disabled]="!joinGroupForm.valid">Unirse al grupo</ion-button>
</form>

<ion-button *ngIf="!hasPassword" type="submit" style="margin-top:30px" color="dark" expand="block" fill="outline" (click)="joinGroup()">Unirse al grupo</ion-button>