<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        <h2>Virtual Bet</h2>
      </ion-title>
    </ion-toolbar>
  </ion-header>
    
  <ion-content>
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <ion-row justify-content-center>
            <ion-col size="12" align-self-center>
              <div class="ion-text-center">Recordar contraseña</div>
            </ion-col>
          </ion-row>   
  
        </ion-card-title>
      </ion-card-header>
  
      <ion-card-content>
        <form [formGroup]="rememberPasswordForm" (ngSubmit)="rememberPassword()">
          <ion-item>
            <ion-label position="floating">Correo electrónico</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>
          <ion-text color="danger">
            <small *ngIf="rememberPasswordForm.controls['email'].errors && 
                    !rememberPasswordForm.controls['email'].pristine && 
                    rememberPasswordForm.controls['email'].errors.required"
            >Campo obligatorio</small>
            <small *ngIf="rememberPasswordForm.controls['email'].errors && 
                    !rememberPasswordForm.controls['email'].pristine && 
                    rememberPasswordForm.controls['email'].errors.email"
            >Email no valido</small>
          </ion-text>   
  
          <ion-button style="margin-top:30px" color="dark" expand="block" fill="outline" type="submit"
              [disabled]="!rememberPasswordForm.valid">Recordar contraseña</ion-button>
        </form>       
      </ion-card-content>
    </ion-card>
  </ion-content>