<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-row>
        <ion-col size=10><h2>Virtual Bet</h2></ion-col>
        <ion-col size=1><app-chat-head></app-chat-head></ion-col>
        <ion-col size=1><app-notifications-head></app-notifications-head></ion-col>
      </ion-row>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="publishNewForm" (ngSubmit)="launchNew()" *ngIf="isAdmin()" class="ion-margin-bottom">
    <ion-item>
      <ion-label position="floating">Nueva noticia</ion-label>
      <ion-input type="text" formControlName="message"></ion-input>
    </ion-item>

    <ion-button style="margin-top:30px" color="dark" expand="block" fill="outline" type="submit"
          [disabled]="!publishNewForm.valid">Publicar</ion-button>
  </form>    
  <app-news-viewer [news]="news"></app-news-viewer>
</ion-content>
