<ion-list>
    <ion-button color="dark" expand="block" fill="outline" (click)="navigate('news')">Noticias</ion-button>
    
    <ion-button color="dark" expand="block" fill="outline" (click)="navigate('newBet')">Nuevas apuestas</ion-button>
    <ion-button color="dark" expand="block" fill="outline" (click)="navigate('activeBets')">Apuestas activas</ion-button>
    <ion-button color="dark" expand="block" fill="outline" (click)="navigate('manageBets')">Gestionar apuestas</ion-button>
    <ion-button color="dark" expand="block" fill="outline" (click)="navigate('history')">Historial</ion-button>
    <ion-button color="dark" expand="block" fill="outline" (click)="navigate('members')">Miembros</ion-button>
    <ion-button color="dark" expand="block" fill="outline" (click)="navigate('options')">Opciones</ion-button>
    <ion-button color="dark" expand="block" fill="outline" (click)="navigate('info')">Info</ion-button>
</ion-list>
<ion-button expand="block" (click)="close()">Close</ion-button>