<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <h2>Virtual Bet</h2>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


    <ion-card>
        <div>
          <img [src]="'assets/imgs/defaultUser.png'" *ngIf="user.image==null" class="img">
          <img *ngIf="user.image!=null" [src]="user.image | base64Image" class="img">
        </div>
        <ion-card-header>
          <ion-card-title>
            <ion-row>
              <ion-col size="9">{{username}}</ion-col>
              <ion-col size="3" class="ion-text-right">ADMIN</ion-col>
            </ion-row>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-text>{{email}}</ion-text>
          <ion-text><br>Desde {{joinTime | onlyDatePipe}}</ion-text>
        </ion-card-content>
    </ion-card>

</ion-content>
    